
{% assign person = include.person %}
{% assign name = person.display_name %}

{% comment %}

Usage:

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

Use the image parameter to include or not include an image.

Note that pl-0 just removes the left padding from the name part that is put
there by default by Bootstrap columns.

{% endcomment %}


{% if include.is_verbose %}
    {% if include.image %}
        <div class="person row align-items-start">
            <div class="col-auto">
                {% include person-image.html person=person %}
            </div>
            <div class="col-2 pl-0">

                <h6 class="person-name" id="{{ name }}">
		    {% if person.webpage %}
			<a href="{{ person.webpage | escape }}"> {{ name }} </a>
		    {% else %}
			{{ name }}
		    {% endif %}
		</h6>

                {% if person.title %}
                    <div class="title">{{ person.title }}</div>
                {% endif %}
            </div>
            <div class="col-8">{{ person.bio }}</div>
        </div>
    {% else %}
        <div class="person person-without-image row align-items-start">
            <div class="col-2 pl-0">

                <h6 class="person-name" id="{{ name }}">
		    {% if person.webpage %}
			<a href="{{ person.webpage | escape }}"> {{ name }} </a>
		    {% else %}
			{{ name }}
		    {% endif %}
		</h6>
                {% if person.title %}
                    <div class="title">{{ person.title }}</div>
                {% endif %}
            </div>
            <div class="col-10">{{ person.bio }}</div>
        </div>
    {% endif %}
{% else %}
    {% if include.image %}
        <div class="person row align-items-center">
            <div class="col-auto">
                {% include person-image.html person=person %}
            </div>
            <div class="col pl-0">
		
                <h6 class="person-name">
		    <a href="/people.html#{{ name }}">{{ name }}</a>
		</h6>
                {% if person.title %}
                    <div class="title">{{ person.title }}</div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="person person-without-image">
            <h6 class="person-name">
		<a href="/people.html#{{ name }}">{{ name }}</a>
	    </h6>
            {% if person.title %}
                <div class="title">{{ person.title }}</div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}