<table class="table">
<tbody>
	
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://openreview.net/pdf?id=OPGy07PojsZ">Rethinking Symbolic Regression: Morphology and Adaptability in the Context of Evolutionary Algorithms</a>.
			</span><br />
			<span class="authors">
				Kei Sen Fong, Shelvia Wongso, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Learning Representations (ICLR)</span>.<br />

			<span class="loc_date">
			Kigali, Rwanda, May 2023.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://proceedings.mlr.press/v206/wongso23a/wongso23a.pdf">Using Sliced Mutual Information to Study Memorization and Generalization in Deep Neural Networks</a>.
			</span><br />
			<span class="authors">
				Shelvia Wongso, Rohan Ghosh, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Artificial Intelligence and Statistics (AISTATS)</span>.<br />

			<span class="loc_date">
			Valencia, Spain, April 2023.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2304.02223.pdf">Local Intrinsic Dimensional Entropy</a>.
			</span><br />
			<span class="authors">
				Rohan Ghosh and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">AAAI Conference on Artificial Intelligence</span>.<br />

			<span class="loc_date">
			Washington, DC, USA, February 2023.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://memari-workshop.github.io/papers/paper_38.pdf">Using Hippocampal Replay to Consolidate Experiences in Memory-Augmented Reinforcement Learning</a>.
			</span><br />
			<span class="authors">
				John Tan Chong Min and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2022 Workshop on Memory in Artificial and Real Intelligence (MemARI)</span>.<br />

			<span class="loc_date">
			New Orleans, USA, December 2022.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://proceedings.mlr.press/v193/ho22a/ho22a.pdf">Machine and Deep Learning Methods for Predicting Immune Checkpoint Blockade Response</a>.
			</span><br />
			<span class="authors">
				Danliang Ho and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Learning for Health (ML4H 2022)</span>.<br />

			<span class="loc_date">
			New Orleans, USA, November 2022.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://static1.squarespace.com/static/59d5ac1780bd5ef9c396eda6/t/62e975060329a7015f4f6eab/1659467015391/15+MLHC2022_Uni_ACS_Camera_Ready.pdf">Unified Auto Clinical Scoring (Uni-ACS) with Interpretable ML models</a>.
			</span><br />
			<span class="authors">
				Anthony Li, Ming Lun Ong, Chien Wei Oei, Weixiang Lian, Hwee Pin Phua, Lin Htun Htet, and Wei Yen Lim.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Learning for Healthcare (MLHC 2022)</span>.<br />

			<span class="loc_date">
			Durham, NC, USA, August 2022.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ieeexplore.ieee.org/document/9834357">Understanding Deep Neural Networks Using Sliced Mutual Information</a>.
			</span><br />
			<span class="authors">
				Shelvia Wongso, Rohan Ghosh, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Symposium on Information Theory (ISIT)</span>.<br />

			<span class="loc_date">
			Espoo, Finland, July 2022.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2021</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://proceedings.neurips.cc/paper/2021/file/321cf86b4c9f5ddd04881a44067c2a5a-Paper.pdf">Network-to-Network Regularization: Enforcing Occam's Razor to Improve Generalization</a>.
			</span><br />
			<span class="authors">
				Rohan Ghosh and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Conference on Neural Information Processing Systems (NeurIPS)</span>.<br />

			<span class="loc_date">
			December 2021.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/2112.06044.pdf">Achieving Low Complexity Neural Decoders via Iterative Pruning</a>.
			</span><br />
			<span class="authors">
				Vikrant Malik, Rohan Ghosh, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2021 Workshop on ML for Systems</span>.<br />

			<span class="loc_date">
			December 2021.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://proceedings.mlr.press/v158/ho21a/ho21a.pdf">Prognosticating Colorectal Cancer Recurrence using an Interpretable Deep Multi-view Network</a>.
			</span><br />
			<span class="authors">
				Danliang Ho, Iain Bee Huat Tan, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">Machine Learning for Health (ML4H 2021), Proceedings for Machine Learning Research (PMLR)</span>.<br />

			<span class="loc_date">
			December 2021.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://proceedings.mlr.press/v158/ho21a/ho21a.pdf">Predictive models for colorectal cancer recurrence using multi-modal healthcare data</a>.
			</span><br />
			<span class="authors">
				Danliang Ho, Iain Bee Huat Tan, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Conference on Health, Inference, and Learning (ACM-CHIL 2021)</span>.<br />

			<span class="loc_date">
			Virtual Conference, April 2021.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="http://proceedings.mlr.press/v119/tan20a/tan20a.pdf">Dropnet: Reducing neural network complexity via iterative pruning</a>.
			</span><br />
			<span class="authors">
				Chong Min John Tan and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">International Conference on Machine Learning (ICML)</span>.<br />

			<span class="loc_date">
			Virtual Conference, July 2020.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ieeexplore.ieee.org/document/9163017">Age of information minimization in fading multiple access channels</a>.
			</span><br />
			<span class="authors">
				Rajshekhar Vishweshwar Bhat, Rahul Vaze, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE INFOCOM Age of Information Workshop</span>.<br />

			<span class="loc_date">
			Virtual Conference, July 2020.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ieeexplore.ieee.org/document/9174106">Multi-label and concatenated neural block decoders</a>.
			</span><br />
			<span class="authors">
				Cheuk Ting Leung, Mehul Motani, and Rajshekhar V Bhat.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Symposium on Information Theory (ISIT)</span>.<br />

			<span class="loc_date">
			Virtual Conference, June 2020.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://ieeexplore.ieee.org/document/9174304">Exploring unique relevance for mutual information based feature selection</a>.
			</span><br />
			<span class="authors">
				Shiyu Liu and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Symposium on Information Theory (ISIT)</span>.<br />

			<span class="loc_date">
			Virtual Conference, June 2020.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1911.06621.pdf">Long-range Prediction of Vital Signs Using Generative Boosting via LSTM Networks</a>.
			</span><br />
			<span class="authors">
				Danliang Ho and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2019 Workshop on Machine Learning for Health (ML4H)</span>.<br />

			<span class="loc_date">
			Vancouver, Canada, December 2019.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://link.springer.com/chapter/10.1007/978-3-030-62045-5_9">Actionable Machine Learning Using Electronic Health Records</a>.
			</span><br />
			<span class="authors">
				Ming Lun Ong, Anthony Li, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">17th International Conference on Biomedical Engineering</span>.
			<span class="note">
			<br />
			Abstract Number: ICBME1309.
			</span><br />

			<span class="loc_date">
			Singapore, December 2019.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Deep Learning Based Prediction of Colorectal Cancer Recurrence and Survival</strong>.
			</span><br />
			<span class="authors">
				Danliang Ho, F L Leong, Chong Dawn Qingqing, Iain Bee Huat Tan, Pavitra Krishnaswamy, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">17th International Conference on Biomedical Engineering</span>.
			<span class="note">
			<br />
			Abstract Number: ICBME1397.
			</span><br />

			<span class="loc_date">
			Singapore, December 2019.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Early prediction of vital signs using generative boosting via LSTM networks</strong>.
			</span><br />
			<span class="authors">
				Shiyu Liu, Jia Yao, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Conference on Bioinformatics and Biomedicine (BIBM)</span>.<br />

			<span class="loc_date">
			San Diego, CA, USA, November 2019.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Investigating convolutional neural networks using spatial orderness</strong>.
			</span><br />
			<span class="authors">
				Rohan Ghosh, Anupam K Gupta, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE/CVF International Conference on Computer Vision Workshop (ICCVW)</span>.
			<span class="note">
			<br />
			Dr. Loo Nin Teow and Dr. How Khee Yin for helpful discussions.
			</span><br />

			<span class="loc_date">
			Seoul, Korea, October 2019.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
					<img src="img/pdficon_small.png" width="16"
						height="16" alt="PDF" />
				<a href="https://arxiv.org/pdf/1812.00415.pdf">Feature Selection Based on Unique Relevant Information for Health Data</a>.
			</span><br />
			<span class="authors">
				Shiyu Liu and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2018 Workshop on Machine Learning for Health (ML4H)</span>.<br />

			<span class="loc_date">
			Montreal, Canada, December 2018.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Deep Spatio-Temporal Feature Learning using Autoencoders</strong>.
			</span><br />
			<span class="authors">
				Jia Yao and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2018 Workshop on Modeling and Decision-Making in the Spatiotemporal Domain</span>.<br />

			<span class="loc_date">
			Montreal, Canada, December 2018.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Suri: Feature selection based on unique relevant information for health data</strong>.
			</span><br />
			<span class="authors">
				Shiyu Liu, Jia Yao, Chongyu Zhou, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Conference on Bioinformatics and Biomedicine (BIBM)</span>.<br />

			<span class="loc_date">
			Madrid, Spain, December 2018.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Spatio-temporal autoencoder for feature learning in patient data with missing observations</strong>.
			</span><br />
			<span class="authors">
				Yao Jia, Chongyu Zhou, and Mehul Motani.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE International Conference on Bioinformatics and Biomedicine (BIBM)</span>.<br />

			<span class="loc_date">
			Kansas City, MO, USA, November 2017.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<strong>Learning deep representations from heterogeneous patient data for predictive diagnosis</strong>.
			</span><br />
			<span class="authors">
				Chongyu Zhou, Yao Jia, Mehul Motani, and Jingwei Chew.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM International Conference on Bioinformatics, Computational Biology, and Health Informatics</span>.<br />

			<span class="loc_date">
			Boston, MA, USA, August 2017.
			</span><br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
